body {
  font-family: Arial, Helvetica, sans-serif;

  width: 70%;
}

.testSelect__menu {
  box-shadow: 5px 5px 15px -5px #ccc, -5px 5px 15px -5px #ccc !important;
  background-color: black !important;
  z-index: 10 !important;
}
